<div class="container">
<h3 class="text-center">Projects: Past, Present, and Future</h3>

  <div class="hero-unit">
    <h3 class="text-center">Past</h3>
    <div class="about">
	<h4>Senior Integrative Exercise aka Comps</h4>
	<p><a href="http://www.NorthfieldCarpool.com">NorthfieldCarpool.com</a></p>
	<p>Each major at Carleton has seniors do a Senior Integrative Exercise, coloquielly known as comps. The Computer Science major has a group comps where student take a project description and with the help of an advisor work through two terms (10 weeks each) to deliver a product. My comps topic was to create a web and iPhone service to create carpools between Northfield and the Twin Cities, <a href="http://cs.carleton.edu/cs_comps/1213/carpool/index.php">full description here</a>.</p>
	<div class="text-center"><iframe src="http://prezi.com/embed/578532ec606f4c4153b056c893890ad8c99e4a17/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;features=undefined&amp;disabled_features=undefined" width="550" height="400" frameBorder="0" webkitAllowFullScreen mozAllowFullscreen allowfullscreen></iframe></div>
    </div>
  </div>

  <div class="hero-unit">
    <h3 class="text-center">Present</h3>
	<h4>Integrated Network Apps</h4>
	  <p>I am working with a group from our Product Design and Development Team on new ideas around Smart Objects.</p>

	<h4>Square Cash for Google Glass</h4>
	  <p>Girls In Tech - MSP recieved a pair of Google Glass through the Explorer's program. I am working with a few of their members to create a Google Glass app that sends money through Square Cash.</p>

  </div>

  <div class="hero-unit">
    <h3 class="text-center">Future</h3>
	<h4>Recipe Comparison</h4>
	  <p></p>


	<h4>WFH App</h4>
<p>At a work event one day the challenge to come up with a service that uses multiple APIs was presented.

We first brainstormed what kinds of APIs are out there from Google Maps to Pinterest and so many 

more. Once our minds were churning out those ideas it was time to pluck out some of those APIs and 

come up with a new idea. My mind immediately went to a combination of Google Maps traffic abilities, 

Wunderground’s forecasting, and Outlook’s calendars. These three could create a powerful prediction 

engine to tell you when you should Work From Home. I make this decision all the time and it usually 

boils down to a couple of questions? How many meetings do I have? Are said meetings in person or 

online? How bad is the weather (in Minneapolis that means how much snow would I have to trudge 

through)? And then how bad the weather is then allows me to predict just how horrid traffic will be (the 

more snow the worse it gets). Most of my answers to these questions are often educated guesses, and I 

would love to have more concrete data to help make this decision.</p> 

<p>Let me describe in a little bit more detail what I am thinking. Users will be asked to set up one time. 

They will input their home address and work address. There will be an average commute time 

calculation and a user can input their willingness to deviate from that e.g. 25 minutes more is too long, 

15 is ok. The user will also give permissions to their work calendar and input a few preferences. These 

might include how many meetings a day is too many too miss. Is there a tag for a particular meeting you 

don’t want to miss e.g. statuses can’t be missed, but update meetings can. Additionally you can input 

your work from home preferences aka you always work from home on Fridays and don’t really like to 

work from home more than two days a week. There are a lot of options here and these are just the ones 

I thought of off the top of my head.</p> 

<p>Once all the settings and preferences are dealt with the need for user inputs drops drastically. Now the 

user can ask the app simple questions. Should I work from home today? What day should I work from 

home this week? Can I work from home this week? A small set of easily understood and consistent 

questions should be developed to give the user the answers they want quickly. Once the user asks a 

question the algorithm would then calculate a recommendation based on their calendar, commute, and 

preferences.</p> 

<p>Additional functionality could be to send an email to a preset list of people saying you will be working 

from home that day or a certain day that week. Or it could add online meetings to the ones on your 

calendar that don’t have them already on the day you want to work from home. There are a lot of 

options for this to facilitate the increasing practice of working remotely.</p> 

<p>From a technology stand point there are a lot of options as well. This could be run through all Google 

products, it could be connected to any calendar that a company uses or that you connect through your 

phone. Initially I want to build this out for iOS as I already have a project in flight in Android and like to 

spread my projects to keep my skills fresh. However, this would be great on any platform. I like the idea 

of having this as an app as most people keep their work calendars and emails on their phone. Personally

I know I check the weather in the morning on my phone, look at my calendar for the day there, and take 

a peek at my email before I head out the door. Since I am already doing all these things on my phone 

(or maybe eventually tablet) already it makes sense to use this platform to seamlessly integrate into 

peoples’ morning routines.</p>
  </div>
</div>
