<div class="container">
<h3 class="text-center">Projects: Past, Present, and Future</h3>

  <div class="hero-unit">
    <h3 class="text-center">Past</h3>
    <div class="about">
	<h4>Senior Integrative Exercise aka Comps</h4>
	<p><a href="http://www.NorthfieldCarpool.com">NorthfieldCarpool.com</a></p>
	<p>Each major at Carleton has seniors do a Senior Integrative Exercise, coloquielly known as comps. The Computer Science major has a group comps where student take a project description and with the help of an advisor work through two terms (10 weeks each) to deliver a product. My comps topic was to create a web and iPhone service to create carpools between Northfield and the Twin Cities, <a href="http://cs.carleton.edu/cs_comps/1213/carpool/index.php">full description here</a>.</p>
	<div class="text-center"><iframe src="http://prezi.com/embed/578532ec606f4c4153b056c893890ad8c99e4a17/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;features=undefined&amp;disabled_features=undefined" width="550" height="400" frameBorder="0" webkitAllowFullScreen mozAllowFullscreen allowfullscreen></iframe></div>
    </div>
  </div>

  <div class="hero-unit">
    <h3 class="text-center">Present</h3>
	<h4>Integrated Network Apps</h4>
	  <p>I am working with a group from our Product Design and Development Team on new ideas around Smart Objects.</p>

	<h4>Square Cash for Google Glass</h4>
	  <p>Girls In Tech - MSP recieved a pair of Google Glass through the Explorer's program. I am working with a few of their members to create a Google Glass app that sends money through Square Cash.</p>

  </div>

  <div class="hero-unit">
    <h3 class="text-center">Future</h3>
	<h4>Recipe Comparison</h4>
	  <p></p>


	<h4>WFH App</h4>
  	  <p></p>

  </div>
</div>
