<div class="container">
<div class="text-center">
<h2>If you really want to know</h2>
</div>
  <div class="hero-unit">
    <div class="text-center"><h3>Education</h3></div>
    <h4>Carleton College 2013</h4>
    <p>Bachelor of Arts in Computer Science</p>
    <p>GPA: 3.5, graduated cum laude</p>
    <p>Job relevant coursework</p>
	<ul>
	<li>Software Design</li>
	<li>Data Structures</li>
	<li>Data Mining</li>
	<li>Database Systems</li>
	<li>Programming Languages</li>
	<li>Algorithms</li>
	<li>Computer Organization & Architecture</li>
	<li>Life in the Age of Networks</li>
	<li>Mathematics of Computer Science</li>
	<li>Computability & Complexity</li>
	</ul>
    <p>Life Relevant Courses</p>
	<ul>
	<li>Midwest and the American Imagination</li>
	<li>Logic</li>
	<li>Principles of Sustainable design</li>
	<li>Visions of California</li>
	<li>Social Cognition</li>
	<li>Arts of Oral Presentation</li>
	<li>Rap & Religion: Rhymes about God</li>
	</ul>
    <h4>Castilleja School, Palo Alto, CA</h4>
    <p>GPA 3.8</p>
    <br>
    </div>

    <div class="hero-unit">
    <div class="text-center"><h3>Experience</h3></div>
    <h4>Technology Leadership Program, Target Corp</h4>
    <p>Rotational program with 3 rotations of 5 months each.</p>
    <p>1st Rotation: Engineer with Enterprise Services Support for APIs</p>
    <p>2nd Rotation: Business Analyst in Strategy & Innovation: Marketing & Loyalty</p>
    <p>3rd Rotation: Will be working on creating and executing POCs for Strategy & Innovation: Data</p>
    <h4>LaunchBit</h4>
    <p>Created a bookmarklet, CurateHub, that queues articles for curated e-mail newsletters integrated with MailChimp API. Cut down users' time from 3 hours to 8 minutes to send a newsletter. Handled customer development interviews across 5 verticals. Marketed product using Facebook Ads, Google Ad Sense, and direct marketing buys in relevant blogs.</p>
    <h4>Computer Science Lab Assistant</h4>
    <p>Assisted students with Computer Science homework and programming questions</p>
    <h4 class="job">Data Analytics Intern</h4>
    <p>Automated the process of reverse geo-location by producing IP ranges associated with companies for customers to target with advertisements. The service had a 2011 revenue goal of $750,000. Used Python to maximize recall from Oracle SQL database and narrowed results to increase precision . Created documentation and GUI for the process of reverse geo-location and to collapse IP ranges.</p>
    <h4>Clare Booth Luce Research Scholar</h4>
    <p>Researched routing in social networks to see if users’ interests can determine short paths. Scrubbed a data set that contained 3.97 million users and 1.85 million interests from LiveJournal. Developed Python programs to find similarities between users.</p>
    <h4>Law Clerk</h4>
    <p>Handled incoming calls and prepared 6-page client background information packages for consultations. Prepared multiple pleadings and attended court hearings. Performed research projects, filed daily correspondence, and organized resources.</p>
    </div>
    <br>

    <div class="hero-unit">
   <div class="text-center"> <h3>Leadership</h3></div>
    <h4>Culinary House Manager</h4>
	<p>Lived in Carleton College interest house for 2 years. Ran it my senior year, handling the budget, any residential life issues, and selecting residents through an appliction process. We hosted events for the school and had house dinners 5 nights a week.</p>
    <h4>Growing Up Healthy</h4>
	<p>I taught a basic computer skills class in Spanish for the Northfield community.</p>
    <h4>KRLX Radio IT Engineer</h4>
	<p>The studio needed to redo the website as it sat on a very outdated and unstable codebase. I used my knowledge to help the rest of the board select the best path for redoing the website</p>
    <h4>Volleyball</h4>
	<p>I was a captain and won a State Champsionship in high school. I played for two years at Carleton and then coached the men's club team for two as well.
    </div>
</div>
