
<div class="container">
<h3>Papa's Carbonara Recipe</h3>

  <div class="row hero-unit">
    <div class="span4">
	<ul>
	  <li>1 Package Sphagetti</li>
	  <li>1 tub parmesan grated</li>
	  <li>2 eggs</li>
	  <li>1/2 Bag frozen peas</li>
	  <li>1 package pre-cubed pancetta</li>
	  <li>Salt and Pepper</li>
	  <li>Olive Oil</li>
	</ul>
    </div>
    <div class="span8">
	<ol>
	 <li> Boil water for the sphagetti</li>
	 <li> Heat olive oil in saute pan</li>
	 <li> Add pancetta to pan and crisp it</li>
	 <li> Add peas to pan and cook until they are all heated through</li>
	 <li> Add eggs to tub of parmesan and mix</li>
	 <li> Cook spagehtii and then drain</li>
	<li> Add spaghetti to pan and mix with eggs and pancetta</li>
	<li> While the sphaghetti, pancetta, and peas are stil hot add the parmesan-egg mixture and toss until the egg cooks a little and it has been mixted throughly and it is silky</li>
      </ol>
    </div>
  </div>
</div>
