<div class="container">
  <div class="text-center">
  <h2>A Crown of Ruby Gems</h2>
  </div>
     <div class="hero-unit">
     <h3>My Wedding Site</h3>
     <a src="http://mysterious-beach-8993.herokuapp.com/">Still Under Construction</a>
    </div>
    <div class="hero-unit">
      <h3>This site is one of my first experiments with ruby</h3>
    </div>
    <div class="hero-unit">
      <h3>twitter thingy</h3>
    </div>
</div>
