<div class="container">
  <div class="text-center">
  <h2>A Crown of Ruby Gems</h2>
  </div>
     <div class="hero-unit">
     <h3>My Wedding Site</h3>
     <a href="http://mysterious-beach-8993.herokuapp.com/">Still Under Construction</a>
     <p>I am currently building a custom RoR site for my wedding. This is an evolving project as we plan the wedding itself. I look forward to adding elements like an online RSVP system, improving the proposal gallery, and so many other things. Ruby allowed me to get a site up quickly and has so many resources that I thought it would be the perfect skill to work on while building an awesome custom site for my wedding. There are a lot of great resources out there for people who cannot build their own to create a site, but I figured it would be fun and very motivating personal project to continue improving my personal skils. Stay tuned for more updates here!</p>
    </div>
    <div class="hero-unit">
      <h3>This Site</h3>
	<p>This website is a Ruby experiment. While I am currently just using Twitter Bootstrap I plan on using it to experiment with new design and technology ideas in the future.</p>
    </div>
    <div class="hero-unit">
      <h3>My First Tweet</h3>
	<p>A fellow Carleton grad suggested that a great practice project in Ruby is to create a website that finds a Twitter user's first tweet. I know Twitter recently released a way to do this, but I still plan on devoting a day to this soon and just getting it done. This person also referred me to Heroku which has been fantastic. 
    </div>
</div>
